/* Allgemein */
body {
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Roboto Mono';
    overflow-x: hidden;
}

::selection {
    background: orange;
}

/* Text */
#welText {
    margin: 0;
    margin-left: 15vw;
    margin-top: 50vh;
    margin-bottom: 40vh;
    transform: translate(0, -50%);
    font-size: 190px;
    color: white;
    user-select: none;
}

h2 {
    margin-left: 140px;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

h3 {
    font-size: 25px;
    color: white;
    margin-left: 40px;
}

p {
    margin-left: 140px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    max-width: 40vw;
}

/* Navigationbar */
.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    display: inline-block;
    top: 40px;
    left: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #333}

.dropdown:hover  .dropdown-content{
    display: block;
}
.dropdown:hover {
    width: 109px;
}


/* --------------------- */
#links a {
    font-size: 30px;
    width: 260px;
}

.but1,  #runaway-btn{
    background-color: #222;
    color: #0f0;
    border: 2px solid #0f0;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 20px;
    transition: all 500ms;
    font-family: 'Roboto Mono', monospace;
    margin-left: 87px;
    margin-top: 270px;
    position: absolute;
}

@media screen and (max-width: 1200px) {
    #welText {
        font-size: 20vw;
        margin-bottom: 40vw;
    }

    p {
        font-size: 5vw;
        max-width: 70vw;
        margin-left: 15vw;
    }

    /* Navigationbar */
    .dropdown:hover {
        width: 128px;
    }

    .dropdown-content a {
        padding: 12px 16px;
        font-size: 20px;
    }

    #links a {
        font-size: 50px;
        width: 400px;
    }
    /* Projects */

    #runaway-btn {
        display: none;
    }

    h2 {
        font-size: 8vw;
        margin-left: 15vw;
    }
}









/*  */
