/* Allgemein */
body {
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

::selection {
    background: orange;
}

/* Text */
#welText {
    margin: 0;
    margin-left: 300px;
    margin-top: 50vh;
    margin-bottom: 40vh;
    transform: translate(0, -50%);
    font-size: 130px;
    color: white;
    user-select: none;
}

h2 {
    margin-left: 140px;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
}

h3 {
    font-size: 25px;
    color: white;
    margin-left: 40px;
}

p {
    margin-left: 140px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    max-width: 40vw;

}

/* Navigationbar */
.dropbtn {
    background-color: #222;
    color: white;
    padding: 16px;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    display: inline-block;
    top: 40px;
    left: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #333}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #222;
}

/* --------------------- */

















/*  */
